@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgo6eA.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCv6KVjbNBYlgoCjC3Ttw.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCv6KVjbNBYlgoCxCvTtw.ttf) format('truetype');
}
body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0 auto;
  max-width: 100%;
}
body a.arrowDown {
  font-size: 30px;
  text-decoration: none;
  color: #fc635e;
  border: 1px solid #fc635e;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
body a.arrowDown:hover {
  background: #fc635e;
  color: white;
}
body a.btn {
  color: #fc635e;
  text-decoration: none;
  font-size: 22px;
  border: #fc635e solid 2px;
  padding: 12px 28px;
  border-radius: 8px;
}
body a.btn:hover {
  background: #fc635e;
  color: white;
}
body .mainText {
  text-align: center;
}
body .mainText h2 {
  text-transform: uppercase;
  font-size: 50px;
  color: white;
}
body .mainText h2 span {
  color: #fc635e;
}
body .mainText p {
  font-size: 22px;
  color: white;
}
body h2.main_header {
  text-decoration: none;
  margin: 0;
  text-transform: uppercase;
  font-size: 40px;
}
body h2.main_header span {
  color: #fc635e;
}
body header {
  background: url('../img/background.png') no-repeat center / cover;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  width: 100%;
  justify-content: space-around;
}
body header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body header nav > a {
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}
body header nav > a img {
  padding-right: 15px;
  vertical-align: middle;
}
body header nav .logo:hover img {
  opacity: 0.7;
}
body header nav menu {
  list-style: none;
  text-transform: uppercase;
  display: flex;
}
body header nav menu li {
  padding-left: 15px;
}
body header nav menu li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
body header nav menu li a:hover {
  color: #fc635e;
  padding-bottom: 3px;
  border-bottom: #fc635e solid 5px;
}
body .recive {
  margin-top: 0;
  text-align: center;
  background: white;
  padding: 70px 50px 10px 50px;
  color: #868686;
}
body .recive p {
  font-size: 22px;
  margin-bottom: 50px;
}
body .recive h2 {
  text-decoration: underline;
}
body .icons {
  display: flex;
}
body .icons h4 {
  text-decoration: underline;
  text-transform: uppercase;
}
body .icons p {
  font-size: 18px;
}
body .icons div {
  padding: 15px;
}
body .expand {
  padding: 100px 100px 15px 100px;
  background: url(../img/expand.png) no-repeat center / cover;
}
body .expand .mainText {
  padding: 50px;
  margin-bottom: 80px;
  border: 15px solid rgba(0, 0, 0, 0.1);
}
body .expand .mainText h2 {
  font-size: 55px;
  margin-bottom: 50px;
}
body .our_process {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 15px;
}
body .our_process .steps {
  display: none;
}
body .our_process h2,
body .our_process p {
  color: gray;
}
body .our_process h2 {
  text-decoration: underline;
}
body .our_process p {
  font-size: 18px;
}
body .our_process .back_process {
  height: 500px;
  width: auto;
  background-image: url(../img/Our_process.png);
  background-position: center center;
  background-size: contain ;
  background-repeat: no-repeat;
}
body .wedo1 {
  padding: 25px;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .wedo1 .container {
  display: flex;
  justify-content: space-around;
}
body .wedo1 h2,
body .wedo1 h3,
body .wedo1 p {
  color: gray;
}
body .wedo1 p {
  font-size: 18px;
  padding-bottom: 15px;
}
body .wedo1 h3 {
  text-transform: uppercase;
  border-left: 10px solid #fc635e;
  padding-left: 5px;
}
body .wedo1 .left {
  max-width: 50%;
}
body .wedo1 .right {
  max-width: 50%;
}
body .wedo2 {
  padding: 25px;
  background: white;
  display: flex;
  flex-direction: column;
  text-align: right;
}
body .wedo2 .container {
  display: flex;
  justify-content: space-around;
}
body .wedo2 h2,
body .wedo2 h3,
body .wedo2 p {
  color: gray;
}
body .wedo2 p {
  font-size: 18px;
  padding-bottom: 15px;
}
body .wedo2 h3 {
  text-transform: uppercase;
  border-right: 10px solid #fc635e;
  padding-left: 5px;
}
body .wedo2 .left {
  max-width: 50%;
}
body .wedo2 .right {
  max-width: 50%;
}
body .wedo3 {
  padding: 25px;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .wedo3 .container {
  display: flex;
  justify-content: space-around;
}
body .wedo3 h2,
body .wedo3 h3,
body .wedo3 p {
  color: gray;
}
body .wedo3 p {
  font-size: 18px;
  padding-bottom: 15px;
}
body .wedo3 h3 {
  text-transform: uppercase;
  border-left: 10px solid #fc635e;
  padding-left: 5px;
}
body .wedo3 .left {
  max-width: 50%;
}
body .wedo3 .right {
  max-width: 50%;
}
body .portfolio {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}
body .portfolio .btn {
  margin: 40px 0px;
}
body .portfolio h2 {
  margin: 50px 0px;
  padding-bottom: 5px;
  border-bottom: 3px solid #b1b1b1;
  color: gray;
}
body .portfolio .controls {
  text-align: center;
  letter-spacing: 2px;
  font-size: 25px;
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
  padding: 15px;
  margin-bottom: 30px;
}
body .portfolio .controls button {
  color: #fc635e;
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 22px;
  outline: none;
}
body .portfolio .controls button:hover {
  color: #c92d28;
  cursor: pointer;
}
body .portfolio .container-filter {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body .portfolio .container-filter #ex1 {
  background-image: url(../img/portfolio/1.png);
}
body .portfolio .container-filter #ex2 {
  background-image: url(../img/portfolio/2.png);
}
body .portfolio .container-filter #ex3 {
  background-image: url(../img/portfolio/3.png);
}
body .portfolio .container-filter #ex4 {
  background-image: url(../img/portfolio/4.png);
}
body .portfolio .container-filter #ex5 {
  background-image: url(../img/portfolio/5.png);
}
body .portfolio .container-filter #ex6 {
  background-image: url(../img/portfolio/6.png);
}
body .portfolio .container-filter div {
  background-size: cover;
  background-position: center center;
  margin: 10px;
  width: 250px;
  height: 180px;
}
body .portfolio .container-filter div .fil {
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  display: none;
  position: relative;
  margin: 0;
  background: url(../img/portfolio/plus.png) rgba(255, 72, 72, 0.75);
  background-position: center;
  background-repeat: no-repeat;
}
body .portfolio .container-filter div .fil p {
  margin: 0;
  padding: 10px;
}
body .portfolio .container-filter div:hover .fil {
  cursor: pointer;
  display: block;
}
body .our_team {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
  padding: 30px;
}
body .our_team .wrap {
  display: flex;
  justify-content: space-around;
}
body .our_team .wrap .people {
  margin-bottom: 15px;
  text-align: center;
}
body .our_team .wrap a {
  color: #414141;
  font-size: 37px;
}
body .our_team .wrap a:hover {
  color: #868686;
}
body .our_team .wrap p {
  color: grey;
}
body .our_team .wrap h4 {
  color: #414141;
  padding-bottom: 5px;
}
body .our_team .wrap h4 span {
  color: #fc635e;
}
body .our_team h2 {
  text-decoration: underline;
  text-transform: uppercase;
  color: grey;
  padding-bottom: 5px;
}
body .our_team h2 span {
  color: #fc635e;
}
