@media screen and (max-width: 768px) and (min-width: 550px) {
    nav {
        flex-direction: column;
        justify-content: center;
    }
    body .expand {
        padding: 30px 30px 10px 30px;
    }
    body .expand .mainText {
        padding: 50px 0px;
        margin-bottom: 20px;
    }
    body .expand .mainText h1 {
        font-size: 30px;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 549px) {
    nav {
        padding: 0 20px;
    }
    menu {
        display: flex;
        flex-direction: column;
    }
    menu li {
        margin-bottom: 10px;
    }
    body header .mainText h1 {
        font-size: 40px;
        margin-top: -20px;
    }
    body header .mainText p {
        font-size: 18px;
        padding-bottom: 20px;
    }
    body .expand {
        padding: 10px;
    }
    body .expand .mainText {
        border: none;
        padding: 30px 0px;
        margin-bottom: 20px;
    }
    body .expand .mainText h1 {
        font-size: 25px;
        margin-bottom: 30px;
    }
    body .our_process .steps {
        display: block;
        
    }
    body .our_process .back_process {
        display: none;
    }
    .steps>.main_header {
        font-size: 28px;
    }
    body .our_team .wrap {
        flex-direction: column;
        align-items: center;
        
    }

}
@media screen and (max-width: 1260px) {
    .recive {
        padding: 30px 20px;
    }
    .recive h1 {
        font-size: 26px;
    }
    .recive p {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .icons {
        flex-wrap: wrap;
        justify-content: center;
    }
    .icons div {
         max-width: 350px;
    }
    .icons div p {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 768px) {
    .wedo1 {
        padding: 5px;
        text-align: center;
    }
    .wedo1 .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wedo1 .container img {
        width: 100%;
    }
    .wedo1 .container .right {
        order: 1;
        max-width: 100%;

    }
    .wedo1 .container .left {
        order: 2;
        max-width: 100%;
        margin-bottom: 30px;

    }
    .wedo1 .container .btn {
        margin-bottom: 20px;
    }
    .wedo2 {
        padding: 5px;
        text-align: center;
    }
    .wedo2 .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .wedo2 .container img {
        width: 100%;
    }
    .wedo2 .container .right {
        order: 1;
        max-width: 100%;

    }
    .wedo2 .container .left {
        order: 2;
        max-width: 100%;
        margin-bottom: 30px;

    }
    .wedo2 .container .btn {
        margin-bottom: 20px;
    }
    .wedo3 {
        padding: 5px;
        text-align: center;
    }
    .wedo3 .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wedo3 .container img {
        width: 100%;
    }
    .wedo3 .container .right {
        order: 1;
        max-width: 100%;

    }
    .wedo3 .container .left {
        order: 2;
        max-width: 100%;
        margin-bottom: 30px;

    }
    .wedo3 .container .btn {
        margin-bottom: 20px;
    }
}

